@import "_common.scss";
.custom-loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    .arrow {
        .arrow-right {
            position: relative;
            width: 90vh;
            height: 30px;
            border: 1px solid #a3a3a3;
            display: block;
            &:before {
                content: " ";
                position: absolute;
                bottom: 100.9%;
                right: -0.3%;
                background: white;
                /* left: -100%; */
                width: 50px;
                height: 30px;
                z-index: 555;
                /* border-top-width: 0px; */
                border: 1px solid $black;
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                border-right-width: 0px;
            }
            &:after {
                content: " ";
                position: absolute;
                top: 54%;
                right: -27px;
                width: 80px;
                background: white;
                height: 30px;
                border: 1px solid $black;
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
        &:nth-child(1) {
            @include position(relative, -3% null null 10%);
            .arrow-right {
                &:nth-child(1) {
                    animation: mymove1 10s infinite;
                    animation-delay: 0s;
                }
            }
        }
        &:nth-child(2) {
            @include position(relative, -3% null null 30%);
            .arrow-right {
                &:nth-child(1) {
                    animation: mymove2 15s infinite;
                    // animation-delay: 2s;
                }
            }
        }
        &:nth-child(3) {
            @include position(relative, -3% null null 70%);
            .arrow-right {
                &:nth-child(1) {
                    animation: mymove3 18s infinite;
                    // animation-delay: 2s;
                }
            }
        }
        &:nth-child(4) {
            @include position(relative, -3% null null 90%);
            .arrow-right {
                &:nth-child(1) {
                    animation: mymove4 18s infinite;
                    // animation-delay: 2s;
                }
            }
        }
        &:nth-child(5) {
            @include position(relative, -3% null null 50%);
            .arrow-right {
                &:nth-child(1) {
                    animation: mymove5 30s infinite;
                    // animation-delay: 2s;
                }
            }
        }
    }
}

@keyframes mymove1 {
    from {
        top: 150vh;
        right: 100vh;
        transform: rotate(-45deg);
    }
    to {
        top: -100vh;
        right: -150vh;
        transform: rotate(-45deg);
    }
}

@keyframes mymove2 {
    from {
        top: 150vh;
        right: 100vh;
        transform: rotate(-45deg);
    }
    to {
        top: -100vh;
        right: -150vh;
        transform: rotate(-45deg);
    }
}

@keyframes mymove3 {
    from {
        top: 150vh;
        right: -100%;
        transform: rotate(-45deg);
    }
    to {
        top: -100vh;
        right: -200%;
        transform: rotate(-45deg);
    }
}

@keyframes mymove4 {
    from {
        top: 150vh;
        right: -200vh;
        transform: rotate(-45deg);
    }
    to {
        top: -100vh;
        right: -200vh;
        transform: rotate(-45deg);
    }
}

@keyframes mymove5 {
    from {
        top: 150vh;
        right: 100vh;
        transform: rotate(-45deg);
    }
    to {
        top: -100vh;
        right: -150vh;
        transform: rotate(-45deg);
    }
}


/*--------------------------------------------------------------
#  header 
--------------------------------------------------------------*/

header {
    position: fixed;
    .navbar {
        z-index: 1049;
        .navbar-toggler {
            border-color: $blue;
            padding: 0;
            color: $white;
            background-color: $blue;
            position: relative;
            @include size(40px);
            // @include rounded(100%);
            @media #{$mq-medium} {
                margin-right: 100px;
            }
            div {
                width: 70%;
                height: 2px;
                background-color: $white;
                display: inline-block;
                transform-origin: center;
                @include position(absolute, 48% null null 13%);
                @include transition(all 0.3s);
                &:nth-child(1) {
                    @include position(absolute, 20% null null 13%);
                    @include transform(rotate(0deg));
                }
                &:nth-child(3) {
                    @include position(absolute, 75% null null 13%);
                    @include transform(rotate(0deg));
                }
            }
        }
        .navbar-brand {
            font-family: ethnocentric;
            font-size: 1rem;
            @media #{$mq-medium} {
                font-size: 1.7rem;
            }
        }
    }
    .sidebar {
        height: 100vh;
        width: 100%;
        top: 0;
        background-color: $blue;
        z-index: 1048;
        @include transition(all 1s ease-in-out);
        @include position(absolute, null null null -100%);
        width: 0;
        .sidebar-content {
            display: none;
            .nav {
                width: 100%;
                .nav-link {
                    width: 100%;
                    font-size: 2rem;
                    color: $black;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $white;
                }
            }
        }
    }
    &.open {
        .navbar {
            .navbar-toggler {
                border-color: $white;
                color: $blue;
                background-color: $blue;
                position: relative;
                top: 46%;
                div {
                    opacity: 0;
                    &:nth-child(1) {
                        opacity: 1;
                        @include transform(rotate(45deg));
                        top: 46%;
                    }
                    &:nth-child(3) {
                        opacity: 1;
                        @include transform(rotate(-45deg));
                        top: 46%;
                    }
                }
            }
            // .btn-contact{
            //   display: none;
            // }
            .navbar-brand {
                color: $white;
            }
            .btn-primary {
                border-color: $white;
                &:hover {
                    background-color: $white;
                    color: $blue;
                }
            }
        }
        .sidebar {
            background-color: $blue;
            @include position(absolute, null null null 0);
            z-index: -1;
            width: 100%;
            .sidebar-content {
                display: block;
                .btn {
                    color: $white;
                }
            }
            .social-contact {
                a {
                    color: $white;
                }
            }
        }
    }
}


/*--------------------------------------------------------------
#  home page
--------------------------------------------------------------*/

// SLIDER
$colors: $gray,
$blue,
$light-gray,
$black;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1)+$dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
    fill: none;
    stroke-width: 3;
    @media #{$mq-medium} {
        stroke-width: 1.5;
    }
    stroke-linejoin: round;
    stroke-dasharray: $dash $dash-space;
    stroke-dashoffset: 0;
    -webkit-animation: stroke $time infinite linear;
    animation: stroke $time infinite linear;
    @for $item from 1 through $max {
        &:nth-child(#{$max}n + #{$item}) {
            $color: nth($colors, $item);
            stroke: $color;
            -webkit-animation-delay: -($time-step * $item);
            animation-delay: -($time-step * $item);
        }
    }
}

@-webkit-keyframes stroke {
    100% {
        stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
}

@keyframes stroke {
    100% {
        stroke-dashoffset: -($dash + $dash-gap) * $max;
    }
}


/* Other styles */

.slider {
    // background: #111;
    background-size: .1em 100%;
    font: 23em/1 Open Sans, ethnocentric;
    @media #{$mq-medium} {
        font: 7em/1 Open Sans, ethnocentric;
    }
    text-transform: uppercase;
    margin: 0;
    height: 85vh;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}